doctype html 
html    
    head 
        title Dancing Site | GimmyJimmy.com  
        block script 
        block style
    body 
        nav#navbar 
            ul 
                li #[a(href="/") Shop]
                li #[a(href="/") Service]
                li #[a(href="/") Products]
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Privacy Policy]
                li #[a(href="/contact") Contact Us]

        block content 
        footer 
            | © 2019-2023 GimmyJimmy.com